_build
*/_build/*
/_build
*/cover/*
deps
*/docs/*
/.fetch
erl_crash.dump
*.ez
Logs
/log
**/log
debug.log
error.log
*.beam
/config/*.secret.exs
.elixir_ls
**/doc
.

/rel/artifacts

.DS_Store
.vscode
.idea

mix.lock
npm-debug.log
node_modules
logs

data
pgdata
cover
*.dot

gproc_dist_*

/Mnesia*

logfile

.git

Dockerfile
.dockerignore

/priv/crypto/c_dist
/priv/crypto/storage_nonce
/priv/storage
/priv/p2p/last_sync
/priv/p2p/last_sync/*
/priv/p2p/test_seeds
/priv/proposal_logs/

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/*

# Self signed cert are used for local and dev purposes
/priv/cert


/assets/node_modules

log_*

/.idea/
uniris-node.iml
projectFilesBackup